{{define "external-css"}}
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/SourceHansSerifSC/VF/result.css">
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/MiSans/include.css">
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/SarasaMonoSC/Regular/result.css">
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/SarasaMonoSC/Bold/result.css">
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/SarasaMonoSC/Italic/result.css">
<link rel="stylesheet" href="https://web-assets.owu.one/fonts/SarasaMonoSC/BoldItalic/result.css">
{{end}}
{{define "external-js"}}
{{end}}